name: build

on:
  push:
      branches:
        - 'main'
  pull_request: ~

jobs:
    test:
        name: "Test (PHP ${{ matrix.php-versions }}, Neos ${{ matrix.neos-versions }})"

        strategy:
            fail-fast: false
            matrix:
                php-versions: ['8.2', '8.3', '8.4']
                neos-versions: ['8.3', '9.0-beta20']
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v2
              with:
                  path: ${{ env.FLOW_FOLDER }}

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-versions }}
                  extensions: mbstring, xml, json, zlib, iconv, intl, pdo_sqlite
                  ini-values: date.timezone="Africa/Tunis", opcache.fast_shutdown=0, apc.enable_cli=on

            - name:  Set Neos Version > 9.0
              if: ${{startsWith(matrix.neos-versions, '9.0') }}
              run: |
                composer config minimum-stability beta
                composer require neos/contentgraph-doctrinedbaladapter ^${{ matrix.neos-versions }} --no-progress --no-interaction --no-update
                composer require neos/eventstore-doctrineadapter --no-progress --no-interaction --no-update
                composer require neos/neos ^${{ matrix.neos-versions }} --no-progress --no-interaction --no-update
                composer update

            - name: Set Neos Version < 9.0
              if: ${{! startsWith(matrix.neos-versions, '9.0') }}
              run: composer require neos/neos ^${{ matrix.neos-versions }} --no-progress --no-interaction

            - name: Run Tests
              run: composer test
